/*********** RESET ************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
i,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg,
img {
  max-width: 100%;
  height: auto;
  display: block;
}


/***********************/

svg {
  width: 1rem;

}

.carousel {
  position: relative;
  width: 60%;
  height: 600px;
  margin: 10rem auto;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel__btn--left {
  left: -30px;
}

.carousel__btn--right {
  right: -30px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 1.2em;
}

.carousel__indicator {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: none;
  background-color: rgb(192, 188, 188);
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}