*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

body {
  line-height: 1.6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.animal-app {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

header {
  height: 30%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 80%;
}

.info {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 20%;
  gap: 3em;
}

/*.img-wrapper {
  height: 70%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  padding: 2em;
  border-radius: 20px;
}*/
.results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 400px;
  width: 300px;
}
.result img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
h1 {
  margin-bottom: 0.5em;
}

/*.btn {
  display: inline-block;
  padding: 1em 2em;
  align-self: flex-start;
  background-color: blanchedalmond;
  border: 0;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}*/
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: darksalmon;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}
